.poke__card {
    border: 5px solid;
    border-color: blue;
    border-radius: 25px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    position: relative;

    & figure {
        position: relative;
        width: 150px;
        z-index: 10;
        overflow: hidden;
    }

    & hr {
        width: 85%;
    }

    & div {
        position: absolute;
        width: 100%;
        height: 100px;
        border-radius: 20px 20px 0 0;
    }

    & h3 {
        text-transform: capitalize;
    }
}

.poke__card:hover {
    transform: scale(1.05);
}

.poke__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 15px;
    width: 85%;
    gap: 10px;

    & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        color: #9f9f9f;
        font-size: 0.85rem;
    }

    & span {
        font-size: 1.135rem;
    }
}

.poke__types {
    display: flex;
    gap: 5px;
}

.slot2::before {
    content: '/ ';
}

.dark {
    background-color: #15202b;
}

.border-dark {
    border-color: #15202b;
}

.color-dark {
    color: #15202b;
}

.rock {
    background-color: rosybrown;
}

.grass {
    background-color: green;
}

.fire {
    background-color: red;
}

.water {
    background-color: dodgerblue;
}

.bug {
    background-color: #252330;
}

.normal {
    background-color: #b44b58;
}

.electric {
    background-color: yellowgreen;
}

.poison {
    background-color: violet;
}

.ground {
    background-color: #9a8b65;
}

.border-rock {
    border-color: rosybrown;
}

.border-grass {
    border-color: green;
}

.border-fire {
    border-color: red;
}

.border-water {
    border-color: dodgerblue;
}

.border-bug {
    border-color: #252330;
}

.border-normal {
    border-color: #b44b58;
}

.border-electric {
    border-color: yellowgreen;
}

.border-poison {
    border-color: violet;
}

.border-ground {
    border-color: #9a8b65;
}

.color-rock {
    color: rosybrown;
}

.color-grass {
    color: green;
}

.color-fire {
    color: red;
}

.color-water {
    color: dodgerblue;
}

.color-bug {
    color: #252330;
}

.color-normal {
    color: #b44b58;
}

.color-electric {
    color: yellowgreen;
}

.color-poison {
    color: violet;
}

.color-ground {
    color: #9a8b65;
}